<div class="product_container">
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
    <% productos.forEach(producto=> { %>
      <tr>
        <td>
          <%=producto.title %>
        </td>
        <td>
          <%=producto.price %>
        </td>
        <td><img class="table-img" src=<%=producto.thumbnail %> alt=""></td>
      </tr>
      <% }) %>
  </table>
</div>